@using Rental.Models.ViewModels
@model RandomMovieViewModel

@{
    ViewBag.Title = "title";
    
}
@{
    var classname = Model.Customers.Count > 1 ? "popular" : "not-popular";
}
<h2 class="@classname">@Model.movie.Title</h2>

@if (Model.Customers.Count == 0)
{
    <p>No One Rented ...</p>
}
<ul>
    @foreach (var customers in Model.Customers)
    {
        <li>
            @customers.Name
        </li>
    }
</ul>